<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 3 Vue</title>
    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <!-- vue 2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


</head>
<body>
	<!-- vue model -->
    <div id="app">
        {{ message }} {{ obj.nilai }}
		
		<div style="margin-top: 20px;">
			<input type="text" value="itk" v-model="isiform"/>
			<h4>{{ isiform }}</h4>
		</div>
		
		<div style="margin-top: 10px;">
			<input type="radio" id="biru" v-model="warna" value="biru" />
			<label for="biru" style="color: darkblue;">Biru</label>
			<input type="radio" id="hijau" v-model="warna" value="hijau" />
			<label for="hijau" style="color: green;">Hijau</label>
		</div>
		
		<div style="margin-top: 10px;">
			<select id="seleksiwarna" v-model="warna">
				<option value="biru">Biru</option>
				<option value="hijau">Hijau</option>
			</select>
		</div>
		
		<div style="margin-top: 10px;">
			<input type="checkbox" id="cbiru" value="biru" v-model="cwarna" />
			<label for="cbiru">Biru</label>
			<input type="checkbox" id="chijau" value="hijau" v-model="cwarna" />
			<label for="chijau">Hijau</label>
		</div>
		
		<p>{{ warna }}</p>
		
		<p>{{ cwarna }}</p>
    </div>
	

    
    <script>
        let obj = {
            nilai: 50,
        }
        let app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                obj,
				isiform: 'Achmad Fadhil Pratama',
				warna: 'biru',
				cwarna: []
				
            },
        })
    </script>
</body>
</html>